<section class="files-table-section" ...attributes>
  <header>
    <h6 class="section-header" data-test-select-all-header>
      <label for="select-all">
        <input type="checkbox" id="select-all" />
        None Selected
      </label>
    </h6>
    <button type="button" class="download-available-files-btn">
      Download Selected
    </button>
  </header>
  <table class="files-table">
    <thead>
      <th class="table-header" data-test-name-table-header>
        <label class="name-header-label">Name</label>
      </th>
      <th class="table-header" data-test-device-table-header>
        Device
      </th>
      <th class="table-header" data-test-path-table-header>
        Path
      </th>
      <th class="table-header" data-test-status-table-header>
        Status
      </th>
    </thead>
    <tbody>
      {{#each @files as |file index|}}
        <tr data-test-table-row="{{index}}">
          <td class="name">
            <label id="file-{{index}}" class="name-label">
              <input type="checkbox" for="file-{{index}}" class="name-checkbox" /> {{file.name}}
            </label>
          </td>
          <td class="device">{{file.device}}</td>
          <td class="path">{{file.path}}</td>
          <td class="status">
            <i class="available-icon {{if (not-eq file.status "available") "hidden"}}" aria-hidden="true" />
            {{file.status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>