<section class="files-table-section" ...attributes>
  <header>
    <h6 class="section-header">
      <label for="select-all" data-test-select-all-label>
        <input
          type="checkbox"
          id="select-all"
          checked={{this.allSelected}}
          indeterminate={{this.indeterminate}}
          {{on "change" this.updateSelection}}
        />
        {{#if this.selectedCount}}
          Selected {{this.selectedCount}}
        {{else}}
          None Selected
        {{/if}}
      </label>
    </h6>
    <button
      type="button"
      class="download-available-files-btn"
      disabled={{this.downloadDisabled}}
      {{on "click" this.downloadSelected}}
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-5 -5 24 24">
        <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" fill="currentColor" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
      Download Selected
    </button>
  </header>

  <table class="files-table">
    <thead>
      <th class="table-header" data-test-name-table-header>
        <span class="name-header">Name</span>
      </th>
      <th class="table-header" data-test-device-table-header>
        Device
      </th>
      <th class="table-header" data-test-path-table-header>
        Path
      </th>
      <th class="table-header" data-test-status-table-header>
        <span class="label-push-left">Status</span>
      </th>
    </thead>
    <tbody>
      {{#each this.fileItems as |file index|}}
        <tr data-test-table-row="{{index}}" class="file {{if file.checked "selected"}}">
          <td class="name">
            <Input
              @checked={{file.checked}}
              @type="checkbox"
              id="file-{{index}}"
              class="label-push-left file-checkbox"
              {{on "change" (fn this.updateSelected file)}}
            />
            <label for="file-{{index}}" class="label-push-left">
              {{file.name}}
            </label>
          </td>
          <td class="device">{{file.device}}</td>
          <td class="path">{{file.path}}</td>
          <td class="status">
            <i class="available-icon {{if (not-eq file.status "available") "hidden"}}" aria-hidden="true" />
            {{file.status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>